<hr />
<div class="footer-container">
    <p>© {% year %} Charity Gamble</p>
    <div class="social_icons">
        <a
            href="https://twitter.com/olawanle_joel"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://instagram.com/charitygamble.dev"
        aria-label="Instagram"
        target="_blank"
        rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
        </a>
        <a
            href="https://github.com/charitygamble"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/charitygamble/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>