<div class="hero-container">
    <img src='assets/about.jpg' class="profile-img" alt="Charity's personal headshot" />
    <div class="hero-text">
        <h1>Hiya! I'm Charity.</h1>
        <p>
            I'm a front-end web developer &amp; cybersecurity student based in Colorado Springs, Colorado. I specialize in building websites (static HTML and WordPress), and cybersecurity.
        </p>

       <div class="social-icons">
            <a href="https://twitter.com/cgambledev"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://instagram.com/charitygamble.dev"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://github.com/charitygamble"
            aria-label="Github"
            target="_blank"
            rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/charitygamble/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div> 
    </div>
</div>