<div class="hero-container">
    <img src='assets/about.jpg' class="profile-img" alt="Charity's personal headshot" />
    <div class="hero-text">
        <h1>Hiya! I'm Charity.</h1>
        <p>
            I'm a front-end web developer &amp; cybersecurity student based in Colorado Springs, Colorado. I specialize in building websites (static HTML and WordPress), and cybersecurity.
        </p>
    <div class="social-container">
        <a href="https://x.com/cgambledev" target="_blank" class="social twitter"><i class="fab fa-x-twitter"></i></a>
        <a href="https://instagram.com/charitygamble.dev" class="social instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://facebook.com/charitygambledev" target="_blank" class="social facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@charitygamble" target="_blank" class="social youtube"><i class="fab fa-youtube"></i></a>
        <a href="https://linkedin.com/in/charitygamble" target="_blank" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://discordapp.com/users/614341576012857346" target="_blank" class="social discord"><i class="fab fa-discord"></i></a>
        <a href="https://dribbble.com/charity-gamble" target="_blank" class="social dribbble"><i class="fab fa-dribbble"></i></a>
        <a href="https://codepen.io/Charity-Gamble" target="_blank" class="social codepen"><i class="fab fa-codepen"></i></a>
        <a href="https://github.com/charitygamble" target="_blank" class="social github"><i class="fab fa-github"></i></a>
    </div>
    </div>
</div>