<div class="nav-container">
    <div class="logo">
        <a href="/">
            Charity Gamble
        </a>
    </div>
    <div class="nav">
        <a href="/projects" class="link">
            Projects
        </a>
        <a href="/assets/cgambleresume.pdf" class="cta-btn">Resume</a>
    </div>
</div>