<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio and blog for Charity Gamble, Front-End Web Developer and Cybersecurity Student"
        <link rel="icon" href="/assets/favicon.png">
        <script src="https://kit.fontawesome.com/203c33e277.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/global.css" />
        <title>Charity Gamble - Web Development &amp; Cybersecurity</title>
    </head>
    <body>
        <div>
            {% include "components/navbar.njk" %}
            {% block content %}
            {{ content | safe }}
            {% endblock %}
            {% include "components/footer.njk" %}
        </div>
    </body>
</html>