<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio and blog for Charity Gamble, Front-End Web Developer and Cybersecurity Student">
        <meta content="Charity Gamble - Front-End Developer" property="og:title">
        <meta property="og:type" content="website">
        <meta content="https://charitygamble.dev/assets/favicon.png" property="og:image">
        <meta property="og:url" content="https://charitygamble.dev">
        <link rel="icon" href="/assets/favicon.png">
        <script src="https://kit.fontawesome.com/203c33e277.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/global2.css">
        <title>Charity Gamble - Font-End Web Development &amp; Cybersecurity</title>
    </head>
    <body>
        <div>
            {% include "components/navbar.njk" %}
            {% block content %}
            {{ content | safe }}
            {% endblock %}
            {% include "components/footer.njk" %}
        </div>
    </body>
</html>