{% extends "layouts/base.njk" %}

{% block content %}
    <div class="project-layout">
        <h2>{{title}}</h2>
        <span>Posted on {{ date | readableDate }} by Charli</span>
        <br><br>
       <!-- <img src="{{image}}" alt="image" class="banner-img" /> -->
        {{ content | safe }}
    </div>
{% endblock %}