---
layout: layouts/base.njk
title: Projects
---
<div class="projects-container">
    <h2>Websites &amp; Blogs</h2>
    <div class="projects-grid">
        {% for website in collections.websites %}
            <div class="project-card">
                <div class="project-header">
                    <i class="fa-solid fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href={{website.data.projectURL}} target="_blank"><i class="fa-solid fa-link"></i></a>
                        {% if website.data.githubURL %}
                        <a href="{{website.data.githubURL}}" target="_blank"><i class="fa-brands fa-github"></i></a>
                        {% endif %}
                    </div>
                </div>
                <h3>{{website.data.title}}</h3>
                <p>{{website.data.description}}</p>
                <a href="{{website.url}}" class="cta-btn">Read more</a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="projects-container">
    <h2>Web Apps</h2>
    <div class="projects-grid">
        {% for webapp in collections.webapps %}
            <div class="project-card">
                <div class="project-header">
                    <i class="fa-solid fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href={{webapp.data.projectURL}} target="_blank"><i class="fa-solid fa-link"></i></a>
                        {% if website.data.githubURL %}
                        <a href="{{webapp.data.githubURL}}" target="_blank"><i class="fa-brands fa-github"></i></a>
                        {% endif %}
                    </div>
                </div>
                <h3>{{webapp.data.title}}</h3>
                <p>{{webapp.data.description}}</p>
                <a href="{{webapp.url}}" class="cta-btn">Read more</a>
            </div>
        {% endfor %}
    </div>
</div>